/* General Styles */
body {
    font-family: 'Outfit', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F4F5F7;
    color: #294757;
}

a {
    text-decoration: none;
    color: #294757;
}

h1, h2, h3 {
    color: #1C1F23;
}

/* Header */
header {
    background-color: #2A3A4F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    height: 40px; /* Reducir la altura del header */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header .logo {
    flex: 1; /* Deja que el logo ocupe espacio a la izquierda */
}

header .logo img {
    height: 50px; /* Ajusta el tamaño del logo */
}

header nav {
    flex: 2; /* Hace que el nav ocupe el doble de espacio */
    text-align: right; /* Centra el contenido del nav */
    margin-right: 20px; /*CAMBIÉ ESTO Y LO DE ARRIBA (CENTER)*/
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
}

header nav ul li {
    margin-left: 15px;
}

header nav ul li a {
    font-weight: 600;
    color: white;
    font-size: 0.9em;
    padding: 5px 10px;
    transition: all 0.3s ease;
    border-radius: 8px;
}

header nav ul li a:hover {
    background-color: #FF8C42;
    color: #FFFFFF;
}

/* Responsividad para móviles */
@media (max-width: 768px) {
    header {
        height: 40px; /* Reducir la altura del header en móviles */
    }

    header .logo img {
        height: 40px; /* Reducir el tamaño del logo en móviles */
    }

    header nav {
        display: none; /* Ocultar botones en móviles */
    }
}

/* Hero Section - Estilos generales */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 100px 80px 100px;
    background-color: #e8e9eb;
    margin-top: -20px;
}

.hero-text {
    max-width: 50%;
    text-align: left;
    margin-right: 40px;
}

.hero-text h1 {
    font-size: 3.5em;
    font-weight: 800;
    color: #1C1F23;
    margin-bottom: 15px;
}

.hero-text h3 {
    font-size: 2em;
    font-weight: 400;
    color: #555555;
    margin-bottom: 15px;
}

.hero-text .divider {
    width: 60%;
    height: 2px;
    background-color: #000000;
    margin: 15px 0;
    border: none;
}

.hero-text p {
    font-size: 2em;
    font-weight: 600;
    color: #000000;
    margin-bottom: 25px;
}

.btn-cta {
    background-color: #EC8309;
    color: white;
    padding: 20px 40px;
    border-radius: 30px;
    font-weight: 600;
    font-size: 1.5em;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.btn-cta:hover {
    transform: translateY(-5px);
    background-color: #294757;
}

.hero-image img {
    max-width: 380px;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
    margin-top: 80px; /* AQUÍ LE CAMBIÉ (20) */
}

/* Ajustes en móviles */
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
        padding: 20px;
        margin-top: 35px;
    }

    .hero-text, .hero-image {
        max-width: 100%;
        margin-right: 0;
    }

    .hero-text h1 {
        font-size: 2.5em;
    }

    .hero-text h3 {
        font-size: 1.5em;
    }

    .hero-text p {
        font-size: 1.2em;
    }

    .btn-cta {
        font-size: 1.2em;
        padding: 15px 30px;
    }

    .hero-image img {
        max-width: 250px; /* Reduce el tamaño de la imagen en móvil */
        border-radius: 25px; /* Aplica esquinas redondeadas */
        margin-top: 20px;
    }
}


/* Beneficios */
.beneficios {
    display: flex;
    justify-content: space-around;
    background-color: white;
    padding: 30px 20px;
    flex-wrap: wrap;
}

.beneficio {
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    max-width: 300px;
    margin: 10px;
}

.beneficio:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.beneficio img {
    max-width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.beneficio h3 {
    margin-bottom: 10px;
    color: #1C1F23;
}

/* Tamaños */
.tamaños {
    padding: 30px 20px;
    text-align: center;
}

.tamaños h2 {
    margin-bottom: 20px;
    color: #1C1F23;
    font-size: 48px;
}

.tamaño {
    display: inline-block;
    text-align: center;
    margin: 0 20px;
}

.tamaño-chica img, .tamaño-mediana img, .tamaño-grande img {
    display: block;
    margin: 0 auto;
}

.tamaño-chica img {
    width: 218px;
    height: 160px;
}

.tamaño-mediana {
    margin: 0 40px;
}

.tamaño-mediana img {
    width: 276px;
    height: 205px;
}

.tamaño-grande img {
    width: 327px;
    height: 235px;
}

.tamaño p {
    font-size: 16px;
    color: #294757;
    margin-top: 5px;
}

.titulo-tamaño {
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 5px;
}

/* Colores */
.colores {
    padding: 30px 20px;
    text-align: center;
}

.colores h2 {
    margin-bottom: 20px;
    color: #1C1F23;
    font-size: 48px;
}

.color {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 30px;
    border: 2px solid #000000;
}

/* ¿Quiénes somos? */
.quienes-somos {
    padding: 30px 20px;
    background-color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin: 40px 0;
    flex-direction: column;
    text-align: center;
}

.contenido-quienes-somos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    max-width: 1200px;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.imagen-quienes-somos {
    flex: 1;
    margin-right: 20px;
    text-align: center;
}

.imagen-quienes-somos img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.texto-quienes-somos {
    flex: 1.5;
    padding: 20px;
    text-align: center;
}

.texto-quienes-somos h2 {
    font-size: 2.5em;
    color: #1C1F23;
    margin-bottom: 20px;
}

.texto-quienes-somos p {
    font-size: 1.2em;
    line-height: 1.6em;
    color: #555555;
}

.logo-quienes-somos {
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.logo-quienes-somos img {
    border-radius: 20px;
    width: 120px;
    height: 120px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .quienes-somos {
        flex-direction: column;
        text-align: center;
    }

    .contenido-quienes-somos {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .texto-quienes-somos {
        order: 2; /* Coloca el texto en segundo lugar */
        padding: 0;
        margin-top: 20px;
    }

    .imagen-quienes-somos {
        order: 3; /* Coloca la imagen en tercer lugar */
        margin-right: 0;
        margin-top: 20px;
    }

    .logo-quienes-somos {
        position: relative;
        order: 1; /* Coloca el logo en primer lugar */
        bottom: auto;
        left: auto;
        transform: none;
        margin-bottom: 20px;
    }
}


/* Contáctanos */
.contactanos {
    display: flex;
    padding: 60px 20px;
    background-color: #F4F5F7;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: left;
}

.contacto-info {
    flex: 1; /* Aumenta el tamaño del cuadro azul */
    background-color: #2A3A4F;
    color: white;
    padding: 30px;
    border-radius: 5px;
    text-align: left; /* Alinea el texto hacia la izquierda */
}

.contacto-info a {
    color: #FFDD00; /* Cambia el color del enlace para que sea visible */
    text-decoration: none;
}

.contacto-info a:hover {
    text-decoration: underline; /* Agrega un subrayado al pasar el cursor */
}

.formulario-contacto {
    flex: 1; /* Aumenta el tamaño del cuadro blanco */
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left; /* Alinea el texto hacia la izquierda */
}

.formulario-contacto form {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinea los elementos del formulario a la izquierda */
}

.formulario-contacto input,
.formulario-contacto textarea {
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #7A868B;
    width: 100%;
    max-width: 300px;
}

.formulario-contacto p {
    font-size: 1.1em;
    color: #294757;
    margin-top: 10px;
    text-align: left; /* Alinea el texto a la izquierda */
}

.formulario-contacto .btn-cta {
    background-color: #EC8309;
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    text-align: center;
    display: inline-block;
    margin-top: 20px;
}

.formulario-contacto .btn-cta:hover {
    transform: translateY(-5px);
    background-color: #294757;
}

.social-media {
    margin-top: 15px;
    text-align: left; /* Alinea el icono de redes sociales a la izquierda */
}

.social-media img {
    width: 30px;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.social-media img:hover {
    transform: scale(1.1);
}

/* Responsividad para móviles */
@media (max-width: 768px) {
    .contactanos {
        flex-direction: column;
        align-items: center;
        padding: 30px 20px;
    }

    .social-media {
        text-align: center; /* Alinea el icono de redes sociales al centro */
    }

    .contacto-info, .formulario-contacto {
        max-width: 100%;
        text-align: center; /* Restablece la alineación central en móviles */
        align-items: center;
    }

    .contacto-info a {
        color: #FFDD00; /* Asegúrate de que el enlace sea visible en móviles */
    }

    .formulario-contacto form {
        align-items: center; /* Restablece la alineación del formulario al centro en móviles */
    }

    .formulario-contacto p {
        text-align: center; /* Restablece la alineación del texto al centro en móviles */
    }
}



/* Footer */
footer {
    background-color: #D9D9D9;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: left;
    flex-wrap: wrap;
    box-sizing: border-box;
    position: relative;
    text-align: left;
}

.footer-info {
    flex: 1;
}

.footer-info img {
    max-width: 100px;
    height: auto;
    margin-top: 10px;
}

.footer-nav {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-nav ul {
    list-style: none;
    padding: 0;
}

.footer-nav ul li {
    margin: 0 10px;
    font-size: 18px;
}

.footer-nav ul li a {
    font-size: 18px;
    font-weight: bold;
    transition: all 0.3s ease;
    border-radius: 8px;
}

.footer-nav ul li a:hover {
    background-color: #FF8C42;
    color: #FFFFFF;
}

.footer-thanks {
    flex: 1;
    text-align: center;
    margin-top: 0;
    width: 100%;
}

/* Franja Naranja en la Parte Inferior del Footer */
.footer-orange-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: #EC8309;
}

/* Preguntas Frecuentes */
.faq-section {
    padding: 40px 20px;
    background-color: #F4F5F7;
    text-align: center;
}

.faq-section h2 {
    font-size: 2.5em;
    color: #1C1F23;
    margin-bottom: 10px;
}

.faq-section h3 {
    font-size: 1.5em;
    color: #555555;
    margin-bottom: 20px;
}

.faq {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.faq-question {
    background-color: #EC8309;
    color: white;
    padding: 15px;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 5px;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.faq-question:hover {
    background-color: #CA6D00;
}

.faq-question::after {
    content: '\25BC'; /* Down arrow icon */
    font-size: 1em;
    margin-left: 10px;
    transition: transform 0.3s ease;
}

.faq-item.active .faq-question::after {
    transform: rotate(-180deg);
}

.faq-answer {
    background-color: #F4F5F7;
    padding: 15px;
    display: none;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 1em;
    line-height: 1.6em;
}

/* Smooth Scroll */
html {
    scroll-behavior: smooth;
}

/* Responsividad */
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

    .hero-text, .hero-image {
        max-width: 100%;
        margin-right: 0;
    }

    .hero-text h1 {
        font-size: 2.5em;
    }

    .hero-text h3 {
        font-size: 1.5em;
    }

    .hero-text p {
        font-size: 1.2em;
    }

    .btn-cta {
        font-size: 1.2em;
        padding: 15px 30px;
    }

    .beneficios {
        flex-direction: column;
        align-items: center;
    }

    .beneficio {
        max-width: 90%;
        margin: 10px 0;
    }

    .beneficio img {
        max-width: 80px;
    }

    .tamaños h2, .colores h2 {
        font-size: 36px;
    }

    .tamaño p, .titulo-tamaño, .formulario-contacto p {
        font-size: 14px;
    }

    .faq-section h2, .faq-section h3 {
        font-size: 1.8em;
    }

    .faq-question {
        font-size: 1em;
        padding: 10px;
    }

    .faq-answer {
        font-size: 0.9em;
    }

    header {
        flex-direction: row;
        padding: 10px;
        height: 40px; /* Reducir altura del header en móviles */
    }

    header .logo img {
        height: 40px;
        margin-bottom: 10px;
    }

    header nav {
        display: none; /* Ocultar botones en móviles */
    }

    header nav ul {
        flex-direction: column;
        align-items: center;
    }

    header nav ul li {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .quienes-somos {
        flex-direction: column;
        text-align: center;
    }

    .texto-quienes-somos {
        padding-left: 0;
        margin-top: 20px;
    }

    .contactanos {
        flex-direction: column;
        align-items: center;
    }

    .contacto-info, .formulario-contacto {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .imagenes {
        flex-direction: column;
        align-items: center;
    }

    .imagenes img {
        max-width: 80%;
        margin-bottom: 20px;
    }

    footer {
        text-align: center;
    }

    .footer-nav {
        margin-top: 20px;
    }

    .footer-thanks {
        text-align: center;
        margin-top: 20px;
    }
}

/* Estilos para la página de agradecimiento */
.agradecimiento {
    text-align: center;
    padding: 50px 20px;
    background-color: #F4F5F7;
    margin-top: 5px;
}

.agradecimiento-imagen {
    max-width: 200px;
    margin-bottom: 10px;
    margin-top: 60px; /* AGREGUÉ ESTO */
}

.agradecimiento h1 {
    color: #1C1F23;
    font-size: 36px;
    margin-bottom: 10px;
}

.agradecimiento p {
    color: #555555;
    font-size: 18px;
    margin-bottom: 30px;
}

.agradecimiento .cta-btn {
    background-color: #EC8309;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 50px;
    border: none;
    transition: background-color 0.3s ease;
}

.agradecimiento .cta-btn:hover {
    background-color: #c66d2d;
}

/* Ajustes para header en la página de agradecimiento */
header {
    background-color: #2A3A4F;
    text-align: center;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

header img {
    max-height: 60px;
}

/* Responsividad para dispositivos móviles */
@media (max-width: 768px) {
    header {
        padding: 10px;
    }

    header img {
        height: 40px;
    }

    .agradecimiento {
        padding: 20px;
        margin-top: 20px;
    }

    .agradecimiento-imagen {
        max-width: 150px;
        margin-bottom: 10px;
    }

    .agradecimiento h1 {
        font-size: 28px;
        margin-bottom: 10px;
    }

    .agradecimiento p {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .agradecimiento .cta-btn {
        font-size: 14px;
        padding: 10px 20px;
    }

    footer {
        text-align: center;
        padding: 10px;
    }

    footer p {
        font-size: 14px;
    }

    footer img {
        max-width: 80px;
    }
}

